.drag-and-drop {
    cursor: all-scroll;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1000;
    color: #fff;
    font-size: 20px;
    line-height: 100px;
    text-align: center;
}
.drag {
  z-index: 1001;
}

#red-box{
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 50%;
}
#blue-box{
  top: 0;
  left: 110px;
  background-color: blue;
  border-radius: 50%;
}
#yellow-box{
  top: 0;
  left: 220px;
  background-color: yellow;
  border-radius: 50%;
}
#green-box{
  top: 0;
  left: 330px;
  background-color: green;
  border-radius: 50%;
}

