*{
    margin: 0;
    padding: 0;
}
body{
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 10px;
    margin: 10px;
}

.card{
    background: rgb(7, 218, 165);
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    clip-path: circle(10% at 90% 20%);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

/* i ボタン */
.card__info{
    float: right;
    position: relative;
    margin: 0% 4% 0 0;
    transition: color .6s ease;
}

.card__title{
  padding: 0 0 10px 0;
}

/* i がいい感じに消えるように */
.card:hover .card__info{
    color: #00B6FF; 
}
/* 円が広がるように */
.card:hover{
    clip-path: circle(75%);
    background: #00B6FF;
    box-shadow: #ddd 7px 7px 5px;
}
