body {
   background-color: #EEEEEE;
}

.font {
   text-align: center;
   font-weight:900;
}

.fa-plus {
  position:fixed; 
  bottom: 15px;
  right: 20px;
  border-radius: 50%;
  background-color: green;
  color: #fff;
  height: 100px;
  width: 100px;
  font-size:3em;
}

.fa-plus:active {
  animation:a 0.4s linear forwards;
}
@keyframes a{
   0%{  
    transform: rotate(180deg);
   }

   100%{
    transform:  translateY(-100px);
 }
}
 
/* fade-out practice */
  body {
    transition: all 1s;
  }

  .bodyfadeout {
    opacity: 0;
  }

  button {
    width: 40px;
    height: 40px;
    background-color: coral;
    border-radius: 50%;
    cursor: pointer;
  } 

  .anime3 {
    transition: all 1s ease-in;
    margin-left: 110vw;
}
