.box {
  width: 1000px;
  height: 900px;
  border-radius: 5px;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top:  -290%;
  left: -70%;
  background: #0af;
  width: 3000px;
  height: 3000px;
  border-radius: 43%;
  animation: drift 30000ms infinite linear;
}
.wave.-three {
  animation: drift 50000ms infinite linear;
}
.wave.-two {
  animation: drift 70000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.title {
  position: absolute;
  left: 50%;
  top:  10%;
  width: 100%;
  color: white;
  z-index: 1;
  transform: translate3d(0, 0, 0);
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 8em;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
