* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(0, 0, 0, 0.7);
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  height: 30vh;
  min-width: 240px;
  transform: translate(-50%, -50%);
  padding: 30px 45px;
  background-color: #fff;
  border: solid 1px #111;
  border-radius: 5px;
}
.login__title {
  font-size: 36px;
  text-align: center;
  margin: 0 0 36px 0;
  text-decoration: underline #8cec81;
}
.login__box {
  margin: 0 0 28px 0;
}
.text__box-input {
  border: none;
  outline: none;
  font-size: 18px;
  margin: 0 0 24px 0;
  padding: 6px 8px;
  border-bottom: 2px solid #8ce081;
}
.login__btn {
  width: 160px;
  font-size: 18px;
  padding: 5px 0;
  background: #fff;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.login__btn:hover {
  animation: hovBtn ease 0.3s forwards;
}
@keyframes hovBtn {
  100% {
    color: white;
    background: linear-gradient(-135deg, #42e695, #3bb2b8);
  }
}
