body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, .7);
}

.login_box{
    width: 310px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 30px 45px;
    border: solid 1px #111;
    border-radius: 5px;
}

.login_title{
   width: 40%;
   font-size: 36px;
   border-bottom: 5px solid #8cec81;
   margin: 0 0 60px 0;
   padding: 5px 0;
}

.text_box{
    width: 100%;
    font-size: 20px;
    padding: 8px 0;
    margin: 12px 0;
    border-bottom: 2px solid #8ce081;
}

.text_box-input{
    border: none;
    outline: none;
    font-size: 18px;
    width: 80%;
}

.btn{
    width: 100%;
    border: 1px solid linear-gradient(-135deg, #42E695, #3BB2B8);
    padding: 5px;
    margin: 24px 0 0 0;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

.btn:hover{
    animation: color-change ease .3s forwards;
}
@keyframes color-change{
    0%{}
    100%{
        color: white;
        border: white 1px solid;
        background: linear-gradient(-135deg, #42E695, #3BB2B8);
    }
}