.drag-and-drop {
  position: absolute;
  cursor: move;
  width: 100px;
  height: 100px;
  color: #fff;
  font-size: 20px;
  line-height: 100px;
  text-align: center;
  z-index: 1000;
}

.drag {
  z-index: 1001;
}

#red-box{
  top:50px;
  left:50px;
  background-color: red;
  margin: 50px;
}
#blue-box{
  top:150px;
  left: 150px;
  background-color: blue;
  margin: 50px;
}
#yellow-box{
  top:250px;
  left:250px;
  background-color: yellow;
  margin: 50px;
}
