body {
  margin: 0;
  padding: 0;
}

.movie-area {
  position: relative;
  height: 100vh;
}

.title {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
}

.movie {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
}

.movie__item {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}
