body {
  margin: 0;
  padding: 0;
}

.slide-area {
  position: relative;
}

.slide__img {
  position: absolute;
  top: 45vh;
  left: 50vw;
  width: 65vw;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

.slide-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.slide-button i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #eee;
  font-size: 2em;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0px 3px 5px #bbb;
  transition: .5s;
}
#left {
  position: absolute;
  top: 40vh;
  left:15vw;
} 
#right {
  position: absolute;
  top: 40vh;
  right:15vw;
} 
i:hover {
  color: silver;
  background-color: #fff;
}

.fadeout {
  animation : fadeOut 1s;
  animation-fill-mode: both;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fading {
  animation : fadeIn 1s;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}