.wave {
  position:absolute;
  top: -80%;
  opacity: .4;
  background: #0af;
  width: 200vw;
  height: 100vh;
  border-radius: 48%;
  animation: drift 700s infinite linear;
}

.wave.-three {
  animation: drift 7000ms infinite linear;
}

.wave.-two {
  animation: drift 9000ms infinite linear;
  opacity: .1;
  background: yellow;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
