.wave {
  position:absolute;
  top: -130%;
  opacity: .1;
  background: #0af;
  width: 300vw;
  height:200vh;
  border-radius: 48%;
}
.wave.-one {
  animation: drift 8000ms infinite linear;
}
.wave.-three {
  animation: drift 9000ms infinite linear;
}
.wave.-two {
  animation: drift 10000ms infinite linear;
  opacity: .06;
  background: yellow;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
